.hero {
  text-align: center;
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  background-image:url('/images/peopleworking.jpg');
  height:450px;
  .header-text{
    font-size:5em;
    font-family:"Raleway";
    font-weight: 900;
  }
  a {
    font-size: $h1-font-size;
    font-weight: 300;
  }

  button {
    @include button(flat, $base-accent-color);
    padding: .7rem 1rem;
    margin: 1rem 1rem;
    border-color: $base-accent-color;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    a, a:hover {
      color: white;
    }
  }

  .ghost {
    background-color: $base-background-color;
    border-color: $base-accent-color;
    border-style: solid;
    a, a:hover {
      color: $base-accent-color;
    }
  }
}


.navbar-nav li button a {
  color: #fff;
}
.navbar-nav li button {
  margin-left: 1em;
  margin-right: 1em;
  floar:right;
}

.navbar{
  max-width: 100% !important;
  background-color: #222222;
}
#scroll-butt{
   background-color:#27ae60; 
   padding-left:2em; 
   padding-right: 2em; 
   border:reset;
}
#about{
    margin-top: 10em;
    font-family: "Raleway";
}
.section-header{
  font-weight: 900;
  text-align:center;
  font-family:"Raleway";
  font-size:3.5em;
}
.section-header-2{
  font-weight: 500;
  text-align:center;
  font-family:"Raleway";
  font-size:3.0em;
}
.body-text{
  font-family: "Raleway";
  text-align:center;
  line-height: 3;
  margin-left: 3em;
  margin-right: 3em;


}

body {
  color: #333;
  max-width: 68em;
}
.footer{
  margin-top: 500px;
  font-family: "Raleway";
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #EFEFEF;

}
#footer-head{
  font-weight: 900;
  text-align: center;
}
.footer-col{
  float: left;
  width: 30%;
  margin-right: 10px;
  margin-left: 20px;
}
.footer-col:nth-child(3){
  float:right;
}
.data-listing{
  font-weight: 275;
  font-size: 2em;
  padding: 1em;
}
.create-stuff{
  display: block;
  background-color: #27ae60;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: reset;
  margin:0 auto;
  a{
    color: #FFF;
  }
}