<div class = "hero">
  <h1>Welcome to Surveyor!</h1>
  <h2>Surveyor makes it easy to create and distribute surveys.</h2>

  <button><%= link_to 'Sign up', new_user_registration_path %></button>
  <button><%= link_to 'Sign in', new_user_session_path %></button>
</div>

