<div class = "container">
	<div class = "hero">
	  <h1 class="header-text">Welcome to Surveyor!</h1>
	  <h2 class="sub-header-text">The easy way to create and distribute surveys.</h2><br>
	  <button id="scroll-butt">Learn More</button>
	</div>
	<section id="about">
		<div class = "about">
			<h2 class="section-header">ABOUT</h2> <!-- center this and make it biiiig --> 
				<p class="body-text">
					Lorem ipsum dolor sit amet, autem detraxit definitionem id eum, feugait appetere repudiandae an his, mel discere equidem lucilius ne. Ne rebum assueverit comprehensam pro. Quo quodsi dissentias in, purto vivendo temporibus ex sed, sit no consul tempor persius. Ne usu meliore fierent incorrupte, te erant putent nec. Eu vis novum senserit efficiendi, vidit nullam impedit ne usu.

					Ponderum laboramus te has, per prima gloriatur te. His persius alterum civibus et, epicurei molestiae ius in, elitr tollit delenit cu usu. No eam laboramus gloriatur, ut facete maiestatis sit. Elit recusabo duo eu, mel iudico regione an.

					Brute liber no pri, labores mediocrem efficiendi per id. Vis harum molestiae scriptorem no, labore salutatus in pro. Numquam rationibus quaerendum an eam, at pri dicant nusquam omittam. Discere dolorum ius ut, ne accusata sapientem quo. Id vis augue luptatum, ea case verear ius. Sit ei tale mucius oporteat.
				</p>
			<!-- 
					Good for wireframing

					for each section:

					create height of (approx height, say 300px), and border: 1px solid black

			-->
		</div>
	</section>
</div>
