<div class = "hero">
  <h1>Welcome to Surveyor!</h1>
  <h2>Surveyor makes it easy to create and distribute surveys.</h2>

  <button><%= link_to 'Sign up', new_researcher_registration_path %></button>
  <button><%= link_to 'Sign in', new_researcher_session_path %></button>
  <button><%= link_to 'Already signed in', researchers_home_page_path %></button>
</div>

