<div class = "select-login">
  <h1>Just a second...</h1>
  <p>What type of person are you?</p>

  <button><%=link_to "Subject Sign In", new_subject_session_path%></button>
  <button><%=link_to 'Subject Sign Up', new_subject_registration_path%></button>
  <button><%=link_to "Researcher Sign In", new_researcher_session_path%></button>
  <button><%=link_to 'Researcher Sign Up', new_researcher_registration_path%></button>
</div>
