<div class = "select-login">
  <h1>Just a second...</h1>
  <p>What type of person are you?</p>
  
   <a href="/researcher_login" class="sign-up">Researcher</a>
	<br>
   <a href="/subject_login" class="sign-up">Subject</a>
</div>
