<h1>Hello <%= @current_user.first_name %> <%= @current_user.last_name %> </h1>
<ul>
<% @user_projects.each do |t| %>
	<li><%= t.project_name %></li>
	<% end %>
</ul>

<% @user_surveys.each do |t| %>
	<li><%= t.survey_name %></li>
	<% end %>
</ul>



