<%= form_tag("/create_survey", method: "get") do %>

  <div class="form-inputs">
    <%= text_field_tag :name %>
	
</div>
 <div class="input_fields_wrap">
	 <button class="add_field_button">Add a Field</button>
	 <div><input type="text" name="text[]"></div>
		
</div>
  <%= text_field_tag :project_id, :as => :hidden, :input_html => { :value => "#{@project_id}" } %>
  <div class="form-actions">
    <%= submit_tag :submit %>
  </div>
<% end %>

<script type='text/javascript'>
	$(".add_field_button").on("click",function(e){
		e.preventDefault();
		$(".input_fields_wrap").append("<div><input type='text' name='text[]'/><a href='#' class='remove_field'>Remove</a></div>");
	});
 </script>
 