<%= simple_form_for(@survey) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
</div>
 <div class="input_fields_wrap">
	 <button class="add_field_button">Add a Field</button>
	 <div><input type="text" name="text[]"></div>
		
</div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type='text/javascript'>
	$(".add_field_button").on("click",function(e){
		e.preventDefault();
		$(".input_fields_wrap").append("<div><input type='text' name='text[]'/><a href='#' class='remove_field'>Remove</a></div>");
	});
 </script>
 