<%= simple_form_for(@survey, :url => "/create_survey",:html => {:method => :get}) do |f| %>

  <div class="form-inputs">
	  Survey Name:
	  <br>
    <%= f.text_field :name %>
	
</div>
Questions:
 <div class="input_fields_wrap">
	 <div><input type="text" name="text[]"></div>
</div>
  <%= f.input :projects_id,:as => :hidden,  :input_html => { :value => "#{@project_id}" } %>
  <button class="add_field_button">New Question</button>
  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
<script type='text/javascript'>
	$(".add_field_button").on("click",function(e){
		e.preventDefault();
		$(".input_fields_wrap").append("<div><input type='text' name='text[]'/><a href='#' class='remove_field'>Remove</a></div>");
	});
 </script>
 