@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

body {
  @include outer-container;
}

// login view

.login {
  // Positioning
  @include span-columns(6);
  @include shift(3);
  margin-top: 20vh;

  // border
  padding: 2em;
  background-color: $light-gray;
  border-radius: 4px;

  h1, h2, h3 {
    text-align: center;
  }
}


.login_main {
  // Positioning
  @include span-columns(9);
  @include shift();
  margin-top: 20vh;

  // border
  padding: 2em;
  background-color: $light-gray;
  border-radius: 4px;

  h1, h2, h3 {
    text-align: center;
  }
}

.yoseph_test {
  background-color: $light-gray;

  hr {
    border-color: #D3D3D3;
    border-width: 1px;
  }
}


